.gradient{
    background-image: url("/public/img/banner-home.png");
    background-repeat: no-repeat;
    display: flex;
  
    flex-direction: row;
    height: 100%;
    width: 100%;
    opacity: 0.4;
}
.capa{
    width: 100%;
    height: 532px;
    background-size:cover;
    background-repeat: no-repeat;
    
}
.colIzq{
    width: 50%;
    margin:2em;
    color: white;
    opacity: 1;
}
.carDer{
   
    /* border-color:5px solid aqua; */
    width: 50%;
    border-radius: 15%;
}
.carDer img{
    width: 98%;
    height: 100%;
    border-radius: 5%;
}